In [1]:
#task04
my_list = [10,30,20,70,11,15,22,16,58,100,12,56,70,80]
ev=[]
od=[]
out=[]
for i in range(len(my_list)):
    if i%2==0:
        ev.append(my_list[i])
    else:
        od.append(my_list[i])
print(ev)
print(od)

for i in range(len(ev)-1):
    for j in range(len(ev)-i-1):
        if ev[j]>ev[j+1]:
            temp=ev[j]
            ev[j]=ev[j+1]
            ev[j+1]=temp
print('sort',ev)

for i in range(len(od)-1):
    for j in range(len(od)-i-1):
        if od[j]<od[j+1]:
            temp=od[j]
            od[j]=od[j+1]
            od[j+1]=temp
print('sort',od)



for i in range(len(od)):
    out.append(ev[i])
    out.append(od[i])
print(out)

[10, 20, 11, 22, 58, 12, 70]
[30, 70, 15, 16, 100, 56, 80]
sort [10, 11, 12, 20, 22, 58, 70]
sort [100, 80, 70, 56, 30, 16, 15]
[10, 100, 11, 80, 12, 70, 20, 56, 22, 30, 58, 16, 70, 15]