<a href="https://colab.research.google.com/github/MonowarHusain/CSE110_PROGRAMMING-LANGUAGE-I/blob/main/SUMMER22/LAB%20TASK/LAB%2006/CSE110_SUMMER22_LAB06_22301098_07_FUNCTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#task01

def even_checker(number):
    if number%2==0:
        print('Even!!')
    else:
        print('Odd!!')

user_input = int(input('Enter your Number: '))
even_checker(user_input)

Enter your Number: 5
Odd!!

In [ ]:
#task_02
def fibonacci(number):

    n1,n2=0,1

    #count=0
    while n1<number+1:
        print(n1,end=' ')
        nth=n1+n2
        n1=n2
        n2=nth
user_input = int(input('Enter your Number: '))
fibonacci(user_input)

Enter your Number: 10
0 1 1 2 3 5 8

In [ ]:
#task_03

def foo_moo(number):

    if number%2==0 and number%3==0:
        print('FooMoo')
    elif number%2==0:
        print('Foo')
    elif number%3==0:
        print('Moo')
    else:
        print('Boo')
user_input = int(input('Enter your Number: '))
foo_moo(user_input)

Enter your Number: 5
Boo

In [ ]:
#task04(w/o builtin fn)
user_input = input('Enter your Words: ')
def function_name(words):
    upper_count=0
    lower_count=0

    for imn in words:
        for kmn in range(65,91):
            if imn == chr(kmn):
                upper_count+=1
            else:
                pass
        for kmn in range(97,122):
            if imn == chr(kmn):
                lower_count+=1
            else:
                pass

    print('No. of Uppercase characters : ',upper_count)
    print('No. of Lowercase Characters : ',lower_count)


function_name(user_input)

Enter your Words: fhnbdsrhDD
No. of Uppercase characters :  2
No. of Lowercase Characters :  8

In [ ]:
#task04(MSI)
user_input = input('Enter your Words: ')
def function_name(words):

    new_word=''

    for i in words:
        if i != ' ':
            new_word = new_word + i
    upper_count=0
    lower_count=0

    for i in new_word:
        if i.islower():
            lower_count+=1
        else:
            upper_count+=1

    print('No. of Uppercase characters : ',upper_count)
    print('No. of Lowercase Characters : ',lower_count)


function_name(user_input)

Enter your Words: The quick Sand Man
No. of Uppercase characters :  3
No. of Lowercase Characters :  12

In [ ]:
#task_05(MSI)

def calculate_tax(age1,sal,desig):

    tax=0
    if age1<18 or sal<10000 or desig=='president':
        tax=0
    elif sal>=10000 and sal<=20000:
        tax=sal*5/100
    elif sal>20000:
        tax=sal*10/100
    return tax

age=int(input('Sir, Please enter your Age: '))
salary=float(input('Sir, Please enter your Salary: '))
designation=input('Sir, Please enter your Designation: ')

xmn=calculate_tax(age,salary,designation)
print(xmn)

Sir, Please enter your Age: 20
Sir, Please enter your Salary: 18000
Sir, Please enter your Designation: gfx
900.0

In [ ]:
#Task_06
user_input = int(input('Enter your desired days: '))
def function_name(days):

    year = days//365
    month=(days%365)//30
    day=(days%365)%30

    return year,month,day

ymn,mnm,dmn=function_name(user_input)
print('{} years, {} months and {} days'.format(ymn,mnm,dmn))

Enter your desired days: 2250
6 years, 2 months and 0 days

In [ ]:
#task07
def show_palindrome(number):
    xmn=''

    for ijk in range(1,nmn+1):
        xmn+=str(ijk)
    for imn in range(nmn-1,0,-1):
        xmn+=str(imn)
    print(xmn)
nmn=int(input('Enter your desired number: '))
show_palindrome(nmn)

Enter your desired number: 5
123454321

In [ ]:
#task8
def show_palindrome_triangle(jkl):
    xmn=''
    for nmn in range(0,jkl+1):
        for imn in range(nmn,jkl+1):
            print('  ',end='')
        for imn in range(1,nmn+1):
            xmn+=str(imn)+' '
        for imn in range(nmn-1,0,-1):
            xmn+=str(imn)+' '
        print(xmn)
        xmn=''
kmn=int(input())
show_palindrome_triangle(kmn)

10

                    1
                  1 2 1
                1 2 3 2 1
              1 2 3 4 3 2 1
            1 2 3 4 5 4 3 2 1
          1 2 3 4 5 6 5 4 3 2 1
        1 2 3 4 5 6 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

In [ ]:
#task8
def show_palindrome_triangle(j):
    x=''
    for n in range(0,j+1):
        for i in range(n,j+1):
            print('  ',end='')
        for i in range(1,n+1):
            x+=str(i)+' '
        for i in range(n-1,0,-1):
            x+=str(i)+' '
        print(x)
        x=''
#n=int(input())
#j=5
show_palindrome_triangle(5)

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
def show_palindrome_triangle(h):

    for i in range(1,h+1):
        for j in range(2*h-2*i):
            print(' ',end='')
        for s in range(1,i+1):
            print(str(s),end=' ')
        for k in range(i-1,0,-1):
            print(str(k),end=' ')
        print()
show_palindrome_triangle(3)

    1
  1 2 1
1 2 3 2 1

In [ ]:
#task09
import math
def area_circumference_generator(nmn):
    lst=[]
    area = math.pi*nmn**2
    circumference = 2*math.pi*nmn
    lst.append(area)
    lst.append(circumference)

    xmn=tuple(lst)
    print(xmn)
    print('Area of the circle is {} and circumference is {}'.format(area,circumference))

user_input = int(input('Sir, Please enter desired radius: '))
area_circumference_generator(user_input)

Sir, Please enter desired radius: 1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task10
def make_square(num1,num2):
    pqs={}
    for i in range(num1,num2+1):
        pqs[i]=i**2
    print(pqs)
make_square(1,3)

In [ ]:
def make_square(numbers):
    pqs = {}
    for num in range(numbers[0], numbers[1] + 1):
        pqs[num] = num ** 2
    return pqs

make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#task11
def rem_duplicate(mono):
    new=[]
    for i in mono:
        if i not in new:
            new.append(i)
    new_tuple=tuple(new)
    print(new_tuple)



rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

('Hi', 1, 2, 3, 'a', [1, 2])
(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#13
oppa = input()
nu1 = float(input())
nu2 = float (input())
def function_name(operator,num1,num2):

    if operator == '+':
        sum = num1+num2
    elif operator == '-':
        sum = num1-num2
    elif operator == '*':
        sum = num1*num2
    elif operator == '/':
        sum = num1/num2
    return sum

som = function_name(oppa,nu1,nu2)
print(som)

*
5.5
2.5
13.75

In [ ]:
#12
def function_name(l):
  li=[]
  rem=0
  for i in l:
      if  i not in li:
        li.append(i)
      elif li.count(i)<2:
        li.append(i)
      else:
        rem+=1
  print("Removed:",rem)
  return li
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#14
def function_name(s,n):
  r=s[0:1]
  r2=''
  for i in range(1,len(s)):
    if i%n!=0:
       r+=s[i]
    else:
       r2+=s[i]
  r=r +r2
  return r
print(function_name("Python is easy to learn. I love python.", 6))

Pythonis eay to earn.I lov pythn. sl eo

In [ ]:
#todo
dict={"Rice":105,"Potato":20,"Beef":510,"Chicken":250,"Oil":85}

def function_name(l,location=""):
  p=0
  print(location)
  if location=="Dhanmondi":

    p+=30
  else:
    p+=70
  for i in l:
    if i in dict:
       p+=dict[i]
  return p
print(function_name(["Rice", "Beef", "Rice"], "Mohakhali"))

Mohakhali
790