<a href="https://colab.research.google.com/github/MonowarHusain/CSE110_PROGRAMMING-LANGUAGE-I/blob/main/SUMMER22/LAB%20TASK/LAB%2002/CSE110_SUMMER22_LAB02_22301098_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A 24, 18, 12, 6, 0, -6

In [ ]:
#task01

count = 24

while count >= -6:
  if count != -6:
    print(count, end = ',')
  else:
    print(count)
  count = count-6

24,18,12,6,0,-6

(B) -10, -5, 0, 5, 10, 15, 20

In [ ]:
#task01

count = -10

while count <= 20:
  if count != 20:
    print(count, end = ',')
  else:
    print(count)
  count = count+5

-10,-5,0,5,10,15,20

(C) 18, 27, 36, 45, 54, 63

In [ ]:
#task01

count = 18

while count <= 63:
  if count != 63:
   print(count, end = ',')
  else:
    print(count)
  count = count+9

18,27,36,45,54,63

(D) 18, -27, 36, -45, 54, -63

In [ ]:
#task01


count = 18
while count <= 63:
  if count%2 ==0:
   print(count, end=',')
  else:
   if count != 63:
    print(count* (-1), end=',')
   else:
    print(count* (-1))
  count = count+9

18,-27,36,-45,54,-63

In [ ]:
#task02

name = str(input('Sir, please enter your name: '))
limit = int(input('Sir, please enter your limit: '))

for count in range(1,limit+1):
  print(name)

Sir, please enter your name: Toyota
Sir, please enter your limit: 2
1 Toyota
2 Toyota

In [ ]:
#task03

total = 0

for count in range(1,601,1):
  if count %7 == 0 and count %9 ==0:
   total = total+count

print(total)

2835

In [ ]:
#task04
total = 0

for number in range(1,601,1):
  if number % 7 == 0 and number % 9 == 0:
    pass

  elif number % 7 == 0 or number % 9 == 0:
       total+=number
print(total)

39814

In [ ]:
#task05
for count in range(11,50,2):
 print(count,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#task 06
y = 0
n= int(input('Enter: '))
for count in range(1,n+1,1):
  if count %2==0:
    y=y-count**2
  else:
    y=y+count**2
print(y)

Enter: 10
-55

In [ ]:
#task06
n= int(input('Enter: '))
count = 1
y = 0

while count <=n :
    if count %2==0:
        y=y-count**2
    else:
        y=y+count**2
    count = count+1

print(y)

Enter: 20
-210

In [ ]:
#task07

count = 1
total = 0
counting_machine = 0
while count<=10:
  number = int(input('Enter: '))
  if number%2==1:
    total+= number
    counting_machine+=1
  count+=1

average = total/counting_machine

print('The total of the odd number is',total,'and their average is',average)

Enter: 1
Enter: 2
Enter: 3
Enter: 4
Enter: 5
Enter: 6
Enter: 7
Enter: 8
Enter: 9
Enter: 10
The total of the odd number is 25 and their average is 5.0

In [ ]:
#task08
N = int(input('Enter: '))
total = 0

for number in range(1,N+1,1):
  if number % 7 != 0 :
    pass

  elif number % 7 == 0 :
       total+=number
print(total)

Enter: 50
196

In [ ]:
#task09

count = 1
sum = 0

while count<=5:
    number = int(input('Enter: '))
    count = count + 1
    sum = sum + number
    print(sum)

Enter: 1
1
Enter: 2
3
Enter: 3
6
Enter: 4
10
Enter: 5
15

In [ ]:
#task09

count = 1
sum = 0

while count<=5:
    number = int(input('Enter: '))
    count = count + 1

    sum = sum + number
    print(sum)

Enter: 5
5
Enter: 2
7
Enter: 3
10
Enter: 6
16
Enter: 4
20

In [ ]:
#task10
user_given = int(input('enter: '))

while user_given!=0:

   digit = user_given % 10
   print(digit, end = ',   ')
   user_given = user_given // 10

enter: 32767
7,   6,   7,   2,   3,

In [ ]:
#task10
n=int(input('enter the number '))
remainder=0
digit=0
number=n
while number>0:
  number=number//10
  digit+=1
for i in range(0,digit):
  if n>0 and n<10:
    print(n,end='')
  elif n>=10:
     remainder=n%10
     print(remainder,end=',')
     n=n//10

enter the number 32768
8,6,7,2,3

In [ ]:
#task11
num=int(input('enter: '))
count = 0

while num != 0:
    num //= 10
    count += 1

print(count)

enter: 9876
4

In [ ]:
#task12

number = int(input('enter: '))
backup = number
digit = 0

while number>0:
    number = number//10
    digit = digit+1

#s=''
while backup>0:
    result = backup//10**(digit-1)
    #s+=str(result)+', '
    print(result, end=' ')
    backup = backup%10**(digit-1)
    digit = digit-1
#print(s[:-2])

enter: 32768
3 2 7 6 8

In [ ]:
#task13

n=int(input('Enter the value of n: '))
div = 0
for count in range(1,n+1):
  if(n%count==0):
      print(count, end=',')
      div+=1
print()
print('Total',div,'divisors')

Enter the value of n: 121
1,11,121,
Total 3 divisors

In [ ]:
#task12
num = int(input("Enter a number with multiple digit: "))
n=0
while num>0:
    a = num%10
    num = num - a
    num = num/10
    print(int(a),end=",")
    n = n + 1

Enter a number with multiple digit: 32768
8,6,7,2,3,

In [ ]:
#task14

number =int(input('enter: '))
sum=0
divisor = 1

while divisor<number:
    if number%divisor == 0:
      sum = sum + divisor
    divisor = divisor + 1
if sum == number:
    print(number, 'is Perfect number.')
else:
    print('Not a Perfect number.')

enter: 5
Not a Perfect number.

In [ ]:
num=int(input())

sum=0

for i in range(1,num):
    if num%i==0:
        sum+=i
if sum==num:
    print('perfect')
else:
    print('m')

5
m

In [ ]:
num=int(input())



for i in range(2,num):
    if num%i!=0:
       print('prime')
       break
    else:

        print('n')
        break

11
prime

In [ ]:
#task15

num = int(input("Enter a number: "))

if num > 1:
   for count in range(2,num):
       if (num % count) == 0:
           print(num,"is not a prime number")

   else:
       print(num,"is a prime number")

Enter a number: 11
11 is a prime number

In [ ]:
#task16

n=int(input("how many numbers: "))

max=-10000
min=10000
total=0
for i in range(1,n+1):
  j=int(input(""))
  total+=j
  if max< j:
    max=j
  if min> j:
    min=j
ave=total/ n


print('max',max)
print('min',min)
print('ave',ave)

how many numbers: 5
10
4
-1
-100
1
ave -17.2
min -100
max 10

In [ ]:
#task17
n = int(input('enter:'))

for r in range(1,n+1):
  for c in range(1,n+1):
    print('+',end = '')
  print()

enter:5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#task18

n1 = int(input('enter:'))
n2 = int(input('enter:'))

for r in range(1,n1+1):
  for c in range(1,n2+1):
    print(c,end = '')
  print()

enter:4
enter:6
123456
123456
123456
123456

In [ ]:
#task19

n = int(input('enter:'))

for r in range(1,n+1):
  for c in range(1,r+1):
    print(c,end = '')
  print()

enter:4
1
12
123
1234

In [ ]:
n=input('enter: ')
l=len(n)
n=int(n)
digit=10**(l-1)
s=''

while n>0:
  s+=str(n//digit)+", "
  n=n%digit
  digit= digit //10
print(s[:-2])

enter: 1664546
1, 6, 6, 4, 5, 4, 6

In [ ]:
number = int(input('Enter: '))

In [ ]:
s='ayesha'
#print(s[1])
for i in s:
  print(i)

a
y
e
s
h
a

In [ ]:
#task20

x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
#task21

x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
2//2

1

In [ ]:
#23

x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
  y = x // 2
  while (y < x):
    p = (x + 10.0) / 2
    sum = (sum % 2) + x - y * 2 + int(p)
    print(sum)
    y = y + 2
  if (x > 5):
    x += 1
  else:
    x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
c=0
while (x < 10):
  y = x // 2
  while (y < x):
    p = (x + 10.0) / 2
    sum = (sum % 2) + x - y * 2 + int(p)
    print(sum)
    y = y + 2
  if (x > 5):
    x += 1
  else:
    x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
#24

test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85