In [ ]:
#TASK01
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

In [ ]:
#task02
a_tuple = (10, 20, 24, 25, 26, 35, 70)
print(a_tuple[2:len(a_tuple)-2])

(24, 25, 26)

In [ ]:
#TASK03

book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print('Size of the tuple is: ',len(book_info))
for imn in range(len(book_info)):
    print(book_info[imn])

Size of the tuple is:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task04
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for ijk in range(len(book_info)):
    print("{} won the '{}' category with {} votes".format(book_info[ijk][1],book_info[ijk][0],book_info[ijk][2] ))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)


for ifg in book_info:
    v1,v2,v3 = ifg[0],ifg[1],ifg[2]
    print(f"{v2} won the '{v1}' category with {v3} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#task05
a_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
nmn=int(input())

kjk=0

for irt in a_tuple:
    if irt == nmn:
        kjk+=1
print(nmn,'appears',kjk,'times in the tuple')

8
8 appears 4 times in the tuple

In [ ]:
#task06

given_tuple= ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

new_lst = list(given_tuple)

rev_lst = []


for itr in range( len(new_lst) - 1, -1, -1) :
    rev_lst.append(new_lst[itr])


new_rev_tuple=tuple(rev_lst)
print(new_rev_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#task07
first_dictionary = {'Harry':15, 'Draco':8, 'Nevil':19}
second_dictionary = {'Ginie':18, 'Luna': 14}
marks = {}
marks.update(first_dictionary)
marks.update(second_dictionary)

print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task08
n=int(input('Sir.Please enter your pair quantity: '))
new_tuple = {}
sum=0

for imn in range(n):
    key = input('Sir.Please enter your key: ')
    value =  int(input('Sir.Please enter your value: '))
    new_tuple[key]=value
print(new_tuple)

for igh,jgh in new_tuple.items():
    #print(j)
    sum = sum +jgh



avr1=sum/n

print(int(avr1))

Sir.Please enter your pair quantity: 3
Sir.Please enter your key: jon
Sir.Please enter your value: 100
Sir.Please enter your key: kij
Sir.Please enter your value: 200
Sir.Please enter your key: mono
Sir.Please enter your value: 300
{'jon': 100, 'kij': 200, 'mono': 300}
200

In [ ]:
#task08 (mahdi_ashraf)

dict_input=input()
d={}
s=[]
a=[z for z in dict_input[1:-1].split(', ')]
for i in a:
  c=i.split(':')
  d=tuple(c)
  s.append(d)
k=dict(s)
count=0
count2=0
for v in k.values():
  count+=int(v)
  count2+=1
print('The average is {}'.format(count/count2))

{'jon': 100, 'dan': 200, 'rob': 500}
The average is 266.6666666666667

In [ ]:
#task09
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

num = int(input('Sir. Please enter your desired number: '))
new={}

for i,j in exam_marks.items():
    if j>=num:
        new[i]=j


print(new)

{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
g=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
t={}

for i in g:
    if i[1] not in t:

        t[i[1]]=[i]
    else:
        t[i[1]].append(i)

print(t)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [ ]:
lis_1 = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
dic_1 = {}
for i in lis_1:
    x,y = i
    if y not in dic_1:
        dic_1[y] = [i]
    else:
        dic_1[y].append(i)
print(dic_1)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [ ]:
#task10
tt={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
klk=''
mono=-1
for ihj,jfg in tt.items():

    if jfg>mono:
        mono=jfg
        klk=ihj
    else:
        pass

print("The highest selling book genre is '{}' and the number of books sold are {}".format(klk,mono))

The highest selling book genre is 'horror' and the number of books sold are 14

In [ ]:
#task11
d="Python programming is fun"
j=d.lower()
mno=''
for ihj in j:
    if ihj ==' ':
        pass
    else:
        mno+=ihj
lst={}
for ihj in mno:
    if ihj not in lst:
        lst[ihj]=1
    else:
        lst[ihj]+=1
print(lst)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for imn,jkl in dict_1.items():
    for kmn in jkl:
        count+=1
print(count)

9

In [ ]:

#task13
k = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
y={}
for i in k:
    if i[0] not in y:
        y[i[0]]=[i[1]]
    else:
        y[i[0]].append(i[1])
print(y)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
k = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
for i in k:

    print(i[0])

a
b
a
b
a
c

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            print('k',k)
            dict1[i] = dict1[i]+ int(k)
            print('dict1[i]',dict1[i])
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            print('k',k)
            dict1[i] = dict1[i] - int(k)
            print('dict1[i]',dict1[i])
        j += 1
        print('j',j)
    print('output1',int(k))
    print('output2',i + " -> " + str(dict1[i]))

k 55.0
dict1[i] 114
j 1
k 118.0
dict1[i] -4
j 2
k -6.0
dict1[i] -10
j 3
k -19.0
dict1[i] 9
j 4
k 8.666666666666668
dict1[i] 17
j 5
output1 8
output2 a -> 17
k -86.0
dict1[i] -168
j 1
k -179.0
dict1[i] 11
j 2
k 10.0
dict1[i] 21
j 3
k 12.0
dict1[i] 9
j 4
k 10.333333333333334
dict1[i] 19
j 5
output1 10
output2 b -> 19
k 1.0
dict1[i] 6
j 1
k -8.0
dict1[i] 14
j 2
k 12.0
dict1[i] 26
j 3
k 23.0
dict1[i] 3
j 4
k 2.666666666666667
dict1[i] 5
j 5
output1 2
output2 c -> 5
k -85.0
dict1[i] -166
j 1
k -174.0
dict1[i] 8
j 2
k 7.333333333333334
dict1[i] 15
j 3
k 22.0
dict1[i] -7
j 4
k -7.0
dict1[i] -14
j 5
output1 -7
output2 d -> -14
k 49.0
dict1[i] 102
j 1
k 88.0
dict1[i] 14
j 2
k 12.0
dict1[i] 26
j 3
k 23.0
dict1[i] 3
j 4
k 2.666666666666667
dict1[i] 5
j 5
output1 2
output2 e -> 5

In [ ]:
int(2.9999999999999999999)

3

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    print(i)

a
b
c
d
e