In [ ]:
#task01

number_01 = int(input('Sir, please enter your desired number: '))
number_02 = int(input('Sir, please enter your desired number: '))

sum = number_01 + number_02
print('Sum =', sum)
product = number_01 * number_02
print('Product =', product)
difference = number_01 - number_02
print('Difference =',difference)

Sir, please enter your desired number: 4
Sir, please enter your desired number: 5
Sum = 9
Product = 20
Difference = -1

In [ ]:
#task02

import math

radius = float(input('Sir, please enter your desired radius: '))

Circumference = 2 * math.pi * radius
Area = math.pi * math.pow(radius,2)

print('Area is', Area)
print('Circumference is', Circumference)

Sir, please enter your desired radius: 4
Area is 50.26548245743669
Circumference is 25.132741228718345

In [ ]:
#task03

number_01 = int(input('Sir, please enter your desired number: '))
number_02 = int(input('Sir, please enter your desired number: '))

if number_01 > number_02 :
    print('First is greater')
elif number_01 < number_02 :
    print('Second is greater')
else :
    print('The numbers are equal')

Sir, please enter your desired number: 7
Sir, please enter your desired number: 3
First is greater

In [ ]:
#task03

number_01 = int(input('Sir, please enter your desired number: '))
number_02 = int(input('Sir, please enter your desired number: '))

if number_01 >= number_02 :
  if (number_01 > number_02) :
    print('First is greater')
  else:
    print('The numbers are equal')

else:
    print('Second is greater')

Sir, please enter your desired number: 10
Sir, please enter your desired number: 10
Equal

In [ ]:
#task04

number_01 = int(input('Sir, please enter your desired number: '))
number_02 = int(input('Sir, please enter your desired number: '))

if number_01 > number_02 :
    print( number_01 - number_02  )
elif number_01 < number_02 :
    print( number_02 - number_01  )
else :
  print( number_01 - number_02 )

Sir, please enter your desired number: -40
Sir, please enter your desired number: -4
36

In [ ]:
#task05

number = int(input('Sir, please enter your desired number: '))

if number%2 == 0:
    print('The number is even')
else :
    print('The number is odd')

Sir, please enter your desired number: 12
The number is even

In [ ]:
#task06

number = int(input('Sir, please enter your desired number: '))

if number % 2 == 0 or number % 5 == 0:
    print(number)
else :
    print('Not a multiple of 2 OR 5')

Sir, please enter your desired number: 7
Not a multiple of 2 OR 5

In [ ]:
#task07

number = int(input('Sir, please enter your desired number: '))

if number % 2 == 0 and number % 5 == 0:
    print('Multiple of 2 and 5 both')
elif number % 2 == 0 or number % 5 == 0:
    print(number)
else:
    print('Not a multiple we want')

Sir, please enter your desired number: 9
Not a multiple we want

In [ ]:
#task08
number = int(input('Sir, please enter your desired number: '))

if number % 2 == 0 and number % 5 == 0:
    print(number)
else :
    print('Not a multiple of 2 and 5 both')

Sir, please enter your desired number: 6
Not a multiple of 2 and 5 both

In [ ]:
#task09

number = int(input('Sir, please enter your desired number: '))

hour = number // 3600
rem = number % 3600
minute = rem // 60
second = rem % 60

print('Hours:', hour, 'Minutes:', minute, 'Seconds:',second )

Sir, please enter your desired number: 10000
Hours: 2 Minutes: 46 Seconds: 40

In [ ]:
#task10

hour = int(input('Sir, enter your desired working hour: '))

if hour>-1 and hour<169:
 if hour <= 40:
  print( hour *200 )
 else :
  print(8000+( (hour-40) * 300 ))
else:
  if hour<0:
    print('Hour cannot be negative')
  else:
    print('Impossible to work more than 168 hours weekly')

In [ ]:
#task11

S = int(input('Sir, please enter your desired number: '))

if S < 100:
  L_01 = 3000-125*(S**2)
  print('L =', L_01)
elif S >= 100:
  L_02 = 12000/(4+((S**2)/14900))
  print('L =', L_02 )

Sir, please enter your desired number: 120
L = 2416.2162162162163

In [ ]:
#task12

number = int(input('Sir, please enter your desired time: '))

if  number >-1 and number<24:
  if   number >= 4 and number <= 6:
      print('Breakfast')
  elif number >= 12 and number <= 13:
      print('Lunch')
  elif number >= 16 and number<= 17:
      print('Snacks')
  elif number >= 19 and number<= 20:
      print('Dinner')
  else:
    print("Patience is a virtue")
else:
  print('Wrong Time')

Sir, please enter your desired time: 25
wrong

In [ ]:
#Task_13

number = int(input('Sir, Please enter your desired number: '))

if  100 >= number >= 90:
    print('A')
elif 80 <= number <= 89 :
    print('B')
elif 70 <= number <= 79 :
    print('C')
elif 60 <= number <= 69 :
    print('D')
elif 50 <= number <= 59 :
    print('E')
elif number < 50 :
    print('F')

Sir, Please enter your desired number: 80
B

In [ ]:
#task14
distance = int(input('Sir, please enter your desired distance: '))
time = int(input('Sir, please enter your desired time: '))

Distance = distance/1000
Time = time/3600

Velocity = Distance/Time

print(Velocity,'km/h')

if Velocity>-1 and Velocity<60:
  print('Too slow. Needs more changes.')
elif Velocity >= 60 and Velocity <= 90:
  print('Velocity is okay. The car is ready!')
else:
  print('Too fast. Only a few changes should suffice.')

Sir, please enter your desired distance: 1
Sir, please enter your desired time: 7
0.5142857142857143 km/h
Too fast. Only a few changes should suffice.

In [ ]:
#task15
cgpa  = float(input('Sir, please enter your desired CGPA: '))
credit = int(input('Sir, please enter your desired completed credit: '))

if credit>30:
 if cgpa >= 3.80 and cgpa <= 3.89:
  print('The student is eligible for a waiver of 25 percent.')
 elif cgpa >= 3.90 and cgpa <= 3.94:
  print('The student is eligible for a waiver of 50 percent.')
 elif cgpa >= 3.95 and cgpa <= 3.99:
  print('The student is eligible for a waiver of 75 percent.')
 elif cgpa == 4.00:
  print('The student is eligible for a waiver of 100 percent.')
 else:
  print('The student is not eligible for a waiver.')

Sir, please enter your desired CGPA: 3.39
Sir, please enter your desired completed credit: 25

In [ ]:
#task16

p = 5
q = 6
r = 9
sum = 0
if (p < 12):
 print(r + 2)
else:
 print(r + p)
if (q > 20):
 print(r + 19)
elif (q <= 6):
 print(q + 3)
else:
 print(p + q + r)
if (r > 15):
 print(r)
elif (r == 0):
 print(p + q)
else:
 print(p)
if (sum != 0):
 print(3)
else:
 print(sum + 32)
if (p>0 and r<10):
 print(p+r)
else:
 print(p-r)

11
9
5
32
14

**Task 17**

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)


print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

**Task 18**

In [ ]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

**Task 19**

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)



print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)

True
True
False
True
False
False